<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeName</key>
			<string>Markdown Document</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.markdown</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://waltzofpearls.github.io/mdpre/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>ME7OB0nMzJNMZslrecWxYbX9kTVUIWX48XrsWkEfVho=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>CFBundleName</key>
	<string>Markdown Preview</string>
	<key>CFBundleDisplayName</key>
	<string>Markdown Preview</string>
</dict>
</plist>
